
<div class="grid-container">
  <div class="grid-item"><img class="animated-donnie small-screen large-screen" src="assets/ds_original2.gif"/><img class="animated-nils small-screen large-screen" src="assets/nb2.gif"/><img class="animated-herm small-screen large-screen" src="assets/mh2.gif"/></div>
  <div class="grid-item">  <p class="origin-words">
    {{ tammtammDingsbumms }}
  </p></div>

  <div class="grid-item"><button class="button" (click)="generateNewCombination()">Nochmal 🤡 </button></div>
</div>

<footer class="small-screen large-screen">
  <div class="footer-stats">mögliche Kombinationen: <b>{{combinations}}</b> Gefunden: <b>{{trys}}</b>
  </div>
  <div class="footer-message">only  ❤️ for  <a href="http://gaestelistegeisterbahn.de">GLGB</a>
  </div>
</footer>





